<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          <h1>Seungoh Han</h1>
          <p> M.S. Student, <br> 3D Vision & Robotics Lab at UNIST</p>
          <p> sohan@unist.ac.kr; so.h4ns@gmail.com</p>

        </div>

        <div>
          <h2>About</h2>
          {{ content }}
        </div>

        <div class="section">
          <h2>Publications</h2>
          {% include_relative contents/pubs.md %}
        </div>
        
        <div class="section">
          <h2>Projects</h2>
          {% include_relative contents/projects.md %}
        </div>
        <!-- 

        <div>
          <h2>Experiences</h2>
        </div>
      -->
        <div class="section">
          <h2>Honors & Awards</h2>
          {% include_relative contents/honors.md %}
        </div>

      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
